@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<input type="number" id="counter" value="0"/>
<button id="button">Click me!</button>

@section scripts {
    
    <script src="~/lib/signalr/jquery.signalR.min.js"></script>  
    <script src="~/signalr/hubs"></script>
    
    <script>
        $(function() {
            var pingpong = $.connection.pingpong;
            pingpong.client.pong = function(value) {
                var counter = $("#counter")[0];
                var $counter = $(counter);
                $counter.val(value);
            };
            $.connection.hub.start().done(function() {
                $('#button').click(function () {
                    var counter = $("#counter")[0];
                    var $counter = $(counter);
                    pingpong.server.ping($counter.val());
                });
            });
        });
    </script>
}